<div id="contenedor" class="contenedor">
    <div class="header" id="header">
        <header>
            <div>
              <a href="/"><img class="header-img" src="/img/Logo.png" alt="Logo"></a>
            </div>
            <div>
                <% if (typeof user !="undefined" ) { %>
                        <div class="dropdown">
                            <span class="title-usuario"><i class="fas fa-bars"></i></span>
                            <div class="dropdown-contenido">
                                <div class="listMenu">
                                    <a href="/admin/edit">Editar valores</a>
                                </div>
                                <div class="listMenu">
                                    <a href="/admin/profile">Cambiar contraseña</a>
                                </div>
                                <div class="listMenu">
                                    <a href="/admin/logout">Salir</a>
                                </div>                               
                            </div>
                        </div>
                    <% } %> 
            </div>
        </header>
    </div>