div .footer{
    background-color: rgb(41,48,57);
    height: auto;
    grid-area: footer;
}
div .footer-body{
  display: grid;
  grid-template-columns: repeat(5,1fr);
  grid-template-areas: "footer-logos footer-logos footer-text footer-text footer-text";
}
div .footer-logos{
  grid-area: footer-logos;
  display: grid;
  place-content: center;
}
div .footer-text{
  grid-area: footer-text;
}
div .footer_title_redes{
  color: white;
  margin-top:10px ;
}
.footer span{    
    position: absolute;
    bottom: 0;
    left: 650px;
    color: #fff;
    font-family: 'Lucida Sans', 'Lucida Sans Regular';
}

div footer ul{
  display: inline-flex;
  margin-top: 10px;
}
div footer ul li{
  margin-left: 15px;
}
div footer ul li a img{
  height: 46px;
}
@media(max-width:768px){
  div .footer-body{
    grid-template-columns: repeat(1,1fr);
    grid-template-areas: "footer-logos"
                         "footer-text";
  }
  div footer ul{
    margin-left: 60px;
  }
  .footer span{
    position: relative;
    bottom: 0;
    left: 0;
    display: flex;
    justify-content: center;
  }
}
@media(max-width: 475px){
  div footer ul{
    margin-left: 40px;
  }
}