div .footer{
    background-color: rgb(41,48,57);
    height: 50px;
    grid-area: footer;
  }
  .footer span{
    display: flex;
    justify-content: center;
    position: relative;
    top: 6px;
    color: #fff;
    font-family: 'Lucida Sans', 'Lucida Sans Regular';
}