<!--HEAD MODULARIZADO-->
<%- include('./partials/head.ejs')%>
    <!--HEADER MODULARIZADO-->
    <%- include('./partials/header.ejs')%>
        <div class="container">
            <div class="aboutUs_body">
                <h1 class="aboutUs_title">Acerca de Nosotros</h1>
                <br>
                <span class="aboutUs_text">Somos una plataforma denominada P2P (persona a persona) que permite el
                    intercambio de divisas entre personas sin que medie la acción de un tercero. Este
                    modelo de red permite la comercialización directa: vendedor-comprador,
                    comprador-vendedor usando la tecnología de esta plataforma de intermediación
                    para una transacción segura. Nuestro objetivo es lograr que las personas
                    intercambien su dinero de distintas partes del mundo de la manera más rápida, confiable y
                    segura. La red P2P de <a href="/">TUCAMBIO.COM.AR</a> proporciona la garantía del saldo
                    acordado al momento de realizar la operación entre las partes.</span>
            </div>

        </div>
        <%- include('./partials/footer.ejs') %>
            <script src="/javascripts/<%=aboutUs%>"></script>