<!--HEAD MODULARIZADO-->
<%- include('./partials/head.ejs')%>
    <!--HEADER MODULARIZADO-->
    <%- include('./partials/header.ejs')%>
        <div class="container">
            <div class="body_fQuestions">

                <h1 class="title_fQuestions">Preguntas Frecuentes</h1>
                <br>
                <br>
                <h2>¿Es necesario que me registre para operar?</h2>
                <p>No, no es necesario que te registres, solo debes ingresar a
                    <a href="www.tucambio.com.ar">www.tucambio.com.ar</a>, crear tu pedido eligiendo la forma de pago a
                    enviar y elegir el saldo que desees a cambio.</p>

                <h2>¿Puedo usar la cuenta de otra persona para pagar?</h2>
                <p> No, debes ser tú la persona titular de la cuenta desde la que envías el
                    pago, ya que de esta manera evitamos posibles estafas.</p>

                <h2>¿Hay costos extras por dividir mis pagos?</h2>
                <p>Si un envío lo dividimos en dos o más partes, claramente pagarás más
                    comisiones comparado a si el envío hubiera sido único. Por ello, es que
                    cuando adquieres tu dinero digital en <a href="www.tucambio.com.ar">TUCAMBIO</a>, por cada división, te
                    enviamos 0.31 USD extra. Tú sigues pagando la misma comisión como si
                    el pago hubiera sido único.</p>

                <h2>¿Cuánto demora mi operación?</h2>
                <p>¡Paciencia! Recuerda tener en cuenta que los pagos no siempre son
                    inmediatos, pueden demorar de 24 a 48 horas hábiles una vez
                    acreditado tu pedido. Recuerda que el intervalo de tiempo indicado
                    siempre es en horas hábiles.</p>

                <h2>¿Por qué me solicitan que verifique mi identidad?</h2>
                <p>Sabemos que quizás no sea de tu agrado enviarnos esta
                    documentación, pero trabajamos muy duro día a día para evitar los
                    intentos de estafa, tanto hacia nosotros como a hacia otros usuarios
                    como tú.</p>

                <h2>¿Puedo operar en tucambio.com.ar si mi banco no posee transferencia bancaria inmediata?</h2>
                <p> ¡Claro!, por supuesto que puedes hacerlo, sólo debes indicarlo a la hora
                    de crear el pedido para que te podamos asignar una cuenta especial.</p>

                <h2>¿El monto que figura al crear el pedido es el que recibo?</h2>
                <p>¡Espera!, siempre el monto que figura en nuestro cotizador es el que
                    vas a recibir; salvo que lo recibas en PayPal recuerda tener en cuenta
                    que su comisión es de 5.4% + 0.30 USD.</p>

                <h2>¿Qué pasa cuando recibo mi saldo y el mismo se encuentra
                    “Retenido” por PayPal?</h2>
                <p>En ocasiones puede figurar un monto RETENIDO (congelado) en PayPal
                    por unos días, que te imposibilita poder hacer uso del mismo. Si bien
                    nosotros hemos cumplido correctamente con nuestra parte, es la
                    misma entidad la que toma esta medida, por lo cual, es totalmente
                    ajena a nosotros. Para proceder a liberar el mismo y obtener
                    información, puedes visitar el siguiente <a href="https://www.youtube.com/watch?v=bii13WnMVDA" target="_blank">TUTORIAL</a></p>

                <h2> ¿Qué pasa si tengo mi saldo Skrill limitado?</h2>
                <p>Si observas que el total o parcial de los pagos recibidos en tu cuenta de
                    Skrill se encuentra “LIMITADO” es porque tu contraparte cargó el
                    mismo con Tarjeta de Crédito, lo cual no está permitido. En ese caso te
                    recomendamos que de inmediato nos notifiques esto mismo al correo
                    para gestionarlo cuanto antes y obtengas pronto tu saldo.</p>
            </div>

        </div>

        <%- include('./partials/footer.ejs') %>
            <script src="/javascripts/<%=frequentQuestions%>"></script>