<!--HEAD MODULARIZADO-->
<%- include('./partials/head.ejs')%>
<!--HEADER MODULARIZADO-->
<%- include('./partials/header.ejs')%>
<div>
  <a
    href="https://api.whatsapp.com/send?phone=5491123417991&text=%C2%A1Hola!%20Quer%C3%ADa%20saber%20m%C3%A1s%20informaci%C3%B3n%20para%20realizar%20la%20operaci%C3%B3n"
    class="whatsapp"
    target="_blank"
    ><span class="help">¿Necesitas ayuda?</span>
    <i class="fa fa-whatsapp my-float"></i>
  </a>
</div>
<div class="container-list col-12 col-xxl-9">
  <div class="card flex-grow-1 saw-table">
    <div class="row my-5">
      <div class="col-12 col-md-6 d-flex justify-content-center">
        <h2 class="text-white">Lista de clientes</h2>
      </div>
      <div class="col-12 col-md-6 d-flex justify-content-start form-outline">
        <form class="submit" id="submit">
          <input
            type="search"
            name="search"
            placeholder="Buscador..."
            id="search"
            class="form-control"
          />
        </form>
      </div>
    </div>
    <div class="w-100">
      <div class="container">
        <div id="modal-container"></div>
        <table class="table-container">
          <thead>
            <tr class="tr-title">
              <th>
                N° Orden
                <i class="fas fa-arrow-up" onclick="OrdenarMayor()"></i>
                <i class="fas fa-arrow-down" onclick="OrdenarMenor()"></i>
              </th>
              <th>Lista pedidos</th>
              <th>Estado</th>
              <th>Fecha</th>
            </tr>
          </thead>
        </table>
      </div>
      <div class="container saw-table__body sa-widget-table m-20">
        <div id="modal-container"></div>
        <table class="table-container">
          <tbody id="bodyData"></tbody>
        </table>
        <div
          class="d-flex flex-column align-items-center my-5"
          id="preloader"
        ></div>
      </div>
    </div>
  </div>
  <div class="menu_link">
    <% if (typeof user !="undefined" ) { %>
      <ul class="menu_items">
          <li><a href="/admin/listaclientes">Ver lista</a></li>
          <li><a href="/admin/editar">Editar valores</a></li>
          <li><a href="/admin/logout">Salir</a></li>
      </ul>
      <% }else{ %>
          <div class="hideLink">
              <ul class="menu_items">
              <li><a href="/preguntas-frecuentes">Preguntas Frecuentes</a></li>
              <li><a href="/acerca-de-nosotros">Acerca de nosotros</a></li>
              <li><a href="/contactenos" class="contactenos">Contáctenos</a></li>
          </ul>
          </div>
          
          <% } %>
  </div>
</div>

<%- include('./partials/footer.ejs') %>

<script src="/javascripts/<%=viewListClient%>"></script>
